@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import '@skeletonlabs/skeleton'; 
@import '@skeletonlabs/skeleton-svelte'; 
@import '@skeletonlabs/skeleton/themes/concord';

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

* {
	transition: all .25s;
}

.text-comp {
	h1 {
		font-size: 1.75rem;
		font-weight: bold;
	}

	h2 {
		font-size: 1.5rem;
		font-weight: bold;
	}

	h3 {
		font-size: 1.25rem;
		font-weight: bold;
	}

	small {
		font-size: .75rem;
		opacity: .75;
	}
}

img.emoji {
	height: 1em;
	width: auto;
	margin: 0 .1em;
	display: inline-block;
}